# ══════════════════════════════════════════
#   КИТ — Переменные окружения
#   ВАЖНО: этот файл НЕ загружать на GitHub!
# ══════════════════════════════════════════

# MongoDB
MONGODB_URI=mongodb+srv://shurakorostelev93_db_user:3o5CNZSfSozqJOuY@cluster0.ytm8ryd.mongodb.net/KITBD?appName=Cluster0

# JWT секретный ключ (придумай длинную строку)
JWT_SECRET=kit_super_secret_key_2026_change_this

# Порт сервера
PORT=3001

# Фронтенд URL (для CORS)
FRONTEND_URL=http://ejournal-kit.ru

# Email для уведомлений (настроишь позже)
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USER=your@yandex.ru
MAIL_PASS=your_password

# Среда запуска
NODE_ENV=development
